<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../iron-label/iron-label.html">
<dom-module id="pw-form">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button.green{
        color:white;
        background-color: var(--google-green-500);
      }

      paper-button.red{
        color:white;
        background-color: var(--google-red-500);
      }
      div {
        display: flex;
        justify-content: space-around;        
      }
    </style>
    <iron-form id="ironForm">
      <form action="[[action]]" method="[[method]]" enctype="[[enctype]]" id="form">
      <div>
        <paper-input 
        always-float-label
        label="Nombre"
        required
        type="text"
        auto-validate
        name="name"
        pattern="^[a-zA-Z\s]{7,}$"
        value={{name}}
        placeholder="Escribe tu nombre" 
        ></paper-input>
        <paper-input 
        always-float-label
        label="Email"
        required
        type="email"
        auto-validate
        name="email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        value={{email}}
        placeholder="Escribe tu email"></paper-input>
      </div>
      <div>
        <paper-input always-float-label
        label="Telefono"
        required
        type="tel"
        auto-validate
        name="tel"
        value={{tel}}
        pattern="^[0-9]{10,}$"
        placeholder="Escibe tu Teléfono"></paper-input>
        <iron-label >Sexo
          <paper-radio-group aria-label="Sexo" aria-valuetext="{{sexo}}">
            <paper-radio-button name="H" value="H">H</paper-radio-button>
            <paper-radio-button name="M" value="M">M</paper-radio-button>
          </paper-radio-group>
        </iron-label>
      </div>
      <div>
        <paper-button raised class="green">Aceptar</paper-button>
        <paper-button raised class="red">Cancelar</paper-button>
      </div>
    </form>
  </iron-form>
  <iron-ajax
  id="put"
  method="PUT"
  url="https://api.myjson.com/bins/1cg57h"
  body="[[data]]"
  content-type="application/json"
  handle-as="json"
  on-response="__response"
  on-error="__errorEnResponse"
></iron-ajax>

<iron-ajax
  auto
  id="get"
  method="GET"
  url="https://api.myjson.com/bins/95ja5"
  handle-as="json"
  on-response="__responseObtenerHandler"
  on-error="__errorEnResponse"
></iron-ajax>

  </template>

  <script>
    /**
     * `pw-form`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwForm extends Polymer.Element {
      static get is() { return 'pw-form'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            notify:true
          },
          email:{
            type: String,
            notify:true
          },
          tel:{
            type:String,
            notify:true
          },
          sexo:{
            type: Boolean,
            notify:true
          },
          data:{
            type: Array,
            notify:true
          }
        };
      }
      __enviaInformacion() {
        this.data = [...this.data, ...[{ name: this.name, email: this.email, tel: this.tel, sexo: this.sexo }] ];
        this.$.put.generateRequest();
      }

      __cancelarAccion() {
        console.log(this.$);
        this.$.ironForm.reset();
      }

      __errorEnResponse(e) {
        console.log(e.detail)
      }

      __response(e) {
       console.log(e.detail);
      }

      __responseObtenerHandler(e) {
        console.log(e);
        const ironRequestInst = e.detail;
        if (ironRequestInst.status === 200) {
          this.data = ironRequestInst.response;
        }
      }
    }

    window.customElements.define(PwForm.is, PwForm);
  </script>
</dom-module>
